@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root{
    --bar-menu-color:rgb(43, 46, 48);
    --primary-color:#1DB954;
    --secondary-color:rgb(40,40,40);
    --system-white:white;
    --background-color:#444;
}
*{
    font-family:'DM Sans', sans-serif;
    color:var(--system-white);
}
input{
    background-color:var(--secondary-color);
    color:var(--system-white);
    border:0;
    border-radius:5px;
}
body{
    background-color:var(--background-color);
    margin: 10vh 0 10vh 0;
    color:var(--background-color);
}
/*
======================Media Bar======================
*/
.media-bar{
    overflow: hidden;
    background-color: var(--bar-menu-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    left:0;
    z-index:50;
}
.media-buttons{
    display:flex;
    height:80%;
}
.media-buttons button{
    border-radius:50%;
    height:5vh;
    width:5vh;
    background:var(--primary-color);
    border:none;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.media-buttons button img{
    height:3vh;
    width:3vh;
}
#pause-button{
    display:none;
}
/*
========================Nav Bar=====================
*/
.nav-bar{
    position: fixed;
    top:0;
    background-color: var(--bar-menu-color);
    display:flex;
    height:10vh;
    left:0;
    width:100%;
    align-items: center;
    z-index:50;

}
.user-info{
    height:5vh;
    width:fit-content;
    right:2vw;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}
.user-text{
    margin:5px;
    color:var(--system-white);
    font-size:100%;

}
.user-image img{
    height:80%;
    width:80%;

}
.user-image{
    display:flex;
    background-color:var(--system-white);
    border-radius:50%;
    height:6vh;
    width:6vh;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.user-info:hover{
    background-color:var(--system-white);

}
.card-text{
    display:flex;
    flex-direction: row;
}
.inline-view{
    min-height:80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.voting-card{
    width:95%;
    height:20vh;
    background-color:var(--bar-menu-color);
    border-radius:10px;
    margin:10px;
    display:flex;
    justify-content: space-between;
    overflow:hidden;

}
.voting-card-image{
    left:0;
    background:black;
    max-height:100%;
    aspect-ratio: 1/1;

}
.voting-card-text{
    width:80%;
    height:20vh;
    display:flex;
    flex-direction: column;
    padding:5px;
}
.voting-card-header{
    width:100%;
    height:20%;

}
.voting-card-body{
    width:100%;
    height:40%;
}
.voting-card-footer{
    width:100%;
    height:20%;
    bottom:0;
}
.voting-card-votes{
    aspect-ratio:1/1;
    height:100%;
    background-color: var(--secondary-color);
    right:0;
    display:flex;
    flex-direction: column;
}
.upvote-button{
    width:100%;
    height:40%;
    display:flex;
    align-content: center;
    justify-content: center;
}
.upvote-button img{
    rotate:270deg;

}
.downvote-button{
    width:100%;
    height:40%;
    display:flex;
    align-content:center;
    justify-content: center;
}
.downvote-button img{
    rotate:90deg;
    z-index:1;
}
.current-votes{
    width:100%;
    height:20%;
    align-items: center;
    justify-content: center;
    text-align:center;
    display:flex;
    align-content: center;
}
/*
=========================Signup Card=================
*/
.signup-form-card{
    padding:15px;
    display:flex;
    align-items: center;
    flex-direction:column;
    background-color:var(--secondary-color);
    border-radius:10px;
    border:var(--primary-color) 5px solid;
}
.signup-form{
    display:flex;
    flex-direction: row;

}
.signup-form-inputs{
    display:flex;
    margin:5px;
    flex-direction:column;
}
.signup-form{
    display:flex;
    flex-direction: column;
}
.signup-form button{
    color:var(--secondary-color);
}
/*
===========================Login Card===========
*/
.login-card{
    padding:15px;
    display:flex;
    align-items: center;
    flex-direction:column;
    background-color:var(--secondary-color);
    border-radius:10px;
    border:var(--primary-color) 5px solid;
}
.login-body{
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    display:flex;
    flex-direction: column;
    background-color:var(--secondary-color);
    align-items: center;
}
.login-form input{
    padding:5px;
    margin:5px;
}
.login-card button{
    color:var(--secondary-color);
    width:100%;
    margin:5px;
}
/*
================================================
*/
