@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    font-family:'DM Sans', sans-serif;
}
body{
    background-color:#444;
    margin: 10vh 0 10vh 0;
}
.media-bar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    left:0;
}
.media-buttons{
    display:flex;
    height:80%;
}
.media-buttons button{
    border-radius:50%;
    height:5vh;
    width:5vh;
    background:#1DB954;
    border:none;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.media-buttons button img{
    height:3vh;
    width:3vh;
}

.nav-bar{
    position: fixed;
    top:0;
    background-color: #393939;
    display:flex;
    height:10vh;
    left:0;
    width:100%;
    align-items: center;

}
.user-info{
    height:5vh;
    width:fit-content;
    right:2vw;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}
.user-text{
    margin:5px;
    color:white;
    font-size:100%;

}
.user-image img{
    height:80%;
    width:80%;

}
.user-image{
    display:flex;
    background-color:lightgray;
    border-radius:50%;
    heightw:3v;
    width:3vw;
    justify-content: center;
    align-items: center;

}
.user-info:hover{
    background-color:white;

}
@media (min-width:1000px){

}
